body {
  padding-bottom: 500px;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #20707f;
}
/* 8-Classes*/
.paragraph {
  background-color: rgb(36, 29, 29);
  color: brown;
  padding: 10px;
}
/* 9-ID*/
#exclusive-tittle {
  color: rgb(242, 255, 4);
  padding: 10px;
  background-color: black;
}
/*10 Multi rules,order CSS*/
h2 {
  border-bottom: #20707f solid 3px;
}
.title {
  border-bottom: 3px solid #74ad03;
}
#some-tittle {
  border-bottom: 3px solid gold;
}
/* 11-Name colors */
.color-name {
  color: tomato;
  background-color: lightgray;
  padding: 10px;
}

/* 12-Hexadecimal colors */
.hex-color {
  color: #a56d45;
  background-color: #0f3460;
  padding: 10px;
}
/* 13-RGBa colors */
.rgba-color {
  color: rgb(82, 34, 34);
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
}
/* 14-background colors */
.background-color {
  background-color: rgb(179, 179, 179);
  padding: 10px;
}
/* 15-background opacity */
.bg-opacity {
  background-color: #74ad03;
  opacity: 0.3;
  padding: 10px;
}
/* 16-Rgba opacity */
.rgba-opacity {
  background-color: rgba(123, 161, 45, 0.1);
  padding: 10px;
}
/* 17-background image */
.bg-image {
  background-image: url("/3_CSS/img/code-execute-sur-des-ecrans-d-ordinateur-et-de-tablette-dans-un-centre-de-donnees-vide.jpg");
  padding: 10px;
  color: #fff;
}
/*18 Center background image*/
.not-centered-bg,
.center-bg {
  height: 400px;
  width: 400px;
  background-image: url("/3_CSS/img/code-execute-sur-des-ecrans-d-ordinateur-et-de-tablette-dans-un-centre-de-donnees-vide.jpg");
}

.center-bg {
  background-position: center;
  background-size: cover;
}
/* height and weight */
.height-weight {
  height: 300px;
  background-color: cadetblue;
}
.height-weight-2 {
  height: 200px;
  width: 200px;
  background-color: red;
}
/* 20 Pading 2 */
.without-padding,
.with-padding {
  background-color: #111;
  color: #fff;
}
.with-padding {
  padding: 20px;
  background-color: #a56d45;
}
/* 21 Shorthand properties*/
.shorthand-properties {
  padding: 20px 10px 20px 10px; /* or 20px 10px */
  background-color: #20707f;
  color: #fff;
}
/* 22 Padding with width*/
.without-border-box {
  background-color: #444;
  color: #fff;
  width: 400px;
  padding: 50px;
}
.border-box {
  background-color: #666;
  color: #fff;
  width: 400px;
  padding: 50px;
  box-sizing: border-box;
}
/* 23 Single border*/
.single-border {
  border-left: solid rgb(203, 35, 35) 10px;
  border-right: solid rgb(203, 35, 35) 10px;
  border-radius: 40px;
  background-color: #111;
  color: #fff;
  padding: 25px;
  box-sizing: border-box;
  text-align: center;
}
/* 24 Box Model*/
.box-model {
  margin: 20px;
  padding: 15px 25px;
  border: 3px solid #f2f2f2;
  border-radius: 7px;
  width: 200px;
  height: 100px;
}

/* 25 Box Model Challenge*/
.model-box-challenge {
  background-color: #000000;
  width: 450px;
  height: 500px;
  border-radius: 30px;
  box-sizing: border-box;
}
#title-model-box-challenge {
  border-bottom: none;
}
.title-challenge3 {
  color: #111;
  background-color: rgba(121, 121, 121, 0.5);
  padding: 20px 15px;
  border-left: 5px solid rgba(235, 61, 61, 0.978);
  border-radius: 30px;
  margin: 10px;
  box-sizing: border-box;
  outline: 2px solid #ad4f03;
}
