html {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 50px;
}
p {
  font-size: 30px;
}
h2 {
  font-size: 35px;
}
.flag-container{
    position: sticky;
    top: 10px;
}
.flag {
    width: 100px;
}

.container {
  background-color: #a1c1f08a;
  max-width: 1100px;
  position: relative;
  margin: 50px auto;
  padding: 20px;
}
.figcaption {
  font-size: 20px;
  font-style: italic;
  margin-top: 5px;
}
/* Header */
header {
  text-align: center;
  margin-bottom: 20px;
}
.main-title {
  text-align: center;
  color: #000000;
  font-size: 40px;
}
.main-paragraph {
  text-align: center;
  color: #000000;
  font-style: italic;
}
/* Main image */

.featured-img {
  text-align: center;
  margin: 20px auto;
}
.imgs {
  max-width: 100%; /* Responsive images */
  height: auto;
}

/* Biography */
.biography-container {
  padding: 25px 0px;
  margin: 25px 0px;
  border-top: 1px dashed gray;
  border-bottom: 1px dashed gray;
}
/*container lyrics*/

.container-lyrics {
  background-color: #ef6c6c87;
  padding: 30px 0px;
}
.container-lyrics blockquote {
  font-weight: bold;
  font-size: 30px;
}
.container-lyrics p {
  font-style: italic;
  text-align: left;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}
/* Curiosities */
.curiosities-container {
  padding: 25px 0px;
  margin: 25px 0px;
  border-top: 1px dashed gray;
  border-bottom: 1px dashed gray;
  font-size: 30px;
}
.curiosities-container li {
  height: 30px;
}

/* Mores images */
.more-images-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
